@rendermode InteractiveServer
@using BlazorPopUpOnLoadPoC.Misc
@using System.Timers

<style>


</style>

@inject BaseService _baseService

<div class="loading-overlay @hiddenClass">
	<div class="loading-container">
		<div class="icon-container">
			<img src="wvsto-seal.png" height="90" width="90" class="pulse" />
		</div>
	</div>
</div>


@code
{
	[Parameter]
	public string Text { get; set; } = "Loading...";

	private string hiddenClass = "hidden";

	protected override void OnInitialized()
	{
		_baseService.OnShow += ShowLoadingSpinner;
		_baseService.OnHide += HideLoadingSpinner;
	}

	public void ShowLoadingSpinner()
	{
		hiddenClass = string.Empty;
		StateHasChanged();
	}

	public void HideLoadingSpinner()
	{
		hiddenClass = "hidden";
		StateHasChanged();
	}
}